backup-1tpbEqEi5Wveu7GZ.json
{"createdAt":"2025-05-08T18:26:52.874Z","updatedAt":"2025-05-08T18:49:21.000Z","id":"1tpbEqEi5Wveu7GZ","name":"backup","active":false,"nodes":[{"parameters":{},"id":"cc41444d-8b9f-41c0-93cb-c2eb6fe08307","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2280,300]},{"parameters":{"options":{}},"id":"e92a04b6-0225-49e9-b57f-cafbbf73aba8","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-2080,300]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"ed4ddb9e-1bd6-41d3-96a9-e29761245134","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1880,300]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"ea757699-b4fd-4bf9-a9c1-84c65bd73fbe","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1680,300]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/reestrix/n8n_de_backup","mode":"url"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/reestrix/n8n"},"filePath":"="},"id":"bd778fe1-bd37-477d-afaf-250c5123f24d","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1480,300],"alwaysOutputData":true,"webhookId":"72b43920-6804-402b-bc08-2e0bf92cba41","credentials":{"githubOAuth2Api":{"id":"sffWvOtdKSdGmtUE","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"7fd65b5d-f730-426e-869c-332f11a4cf6c","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1280,300]},{"parameters":{"filters":{},"requestOptions":{}},"id":"3648628e-9580-42f5-8a34-9d0a0877e42e","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1080,300],"credentials":{"n8nApi":{"id":"CgfU2Y9XWhCm6QuT","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"be3abfcf-7031-4bba-b560-6ae0ba47c846","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-880,300]},{"parameters":{"batchSize":1,"options":{}},"id":"685c2625-b77d-480e-b31a-73765646fc6e","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-640,300]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"f438ce5b-dbcc-4d7c-b10b-de887798b230","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[-400,220]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/IgorZuevich/workflow_backup2","mode":"url"},"repository":{"__rl":true,"value":"workflow_backup2","mode":"list","cachedResultName":"workflow_backup2","cachedResultUrl":"https://github.com/IgorZuevich/workflow_backup2"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"9ce3096c-5483-49d4-94e4-2e31bcbbde68","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-180,20],"webhookId":"dfadea83-c506-4a6d-814a-39ffc978bac3"},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/IgorZuevich/workflow_backup2","mode":"url"},"repository":{"__rl":true,"value":"workflow_backup2","mode":"list","cachedResultName":"workflow_backup2","cachedResultUrl":"https://github.com/IgorZuevich/workflow_backup2"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"2d56d6a9-dfcd-4776-916e-7b4155bed7c3","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-180,420],"webhookId":"66310610-a709-4713-a976-e6b74186cdff"},{"parameters":{"content":"## @igorzuevich \n**Автор** на [YouTube](https://www.youtube.com/@igorzuevich)","height":240,"width":280,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-7380,1580],"typeVersion":1,"id":"797d1259-737f-4307-9baa-e9a0535616ae","name":"Sticky Note2"}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f190a4d2-bd5b-4a75-9e62-17a2a878051c","triggerCount":0,"tags":[]}